.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th,
.data-table td {
    padding: 8px 12px;
    border-bottom: 1px solid #ccc;
    text-align: right;
}

.data-table th {
    font-weight: bold;
}

.data-table th:nth-child(2),
.data-table td:nth-child(2) {
    text-align: left;
}

.data-table tbody tr:hover {
    background: #eee;
}